<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap" rel="stylesheet">

  <link rel="stylesheet" type="text/css" href="assets/styles/style.css">
  <title>Alexandro Mena | Web Developer</title>
</head>	



<img src="https://i.pinimg.com/originals/1d/e2/67/1de267ea881587a6c53dc78ae4dacf7c.jpg">
<h1>John Foreign</h1>
<h2>Programmer</h2>

<p>LoremLoremLoremLoremLoremLoremLoremLoremLoremLoremLoremLoremLoremLoremLoremLorem</p>
<style>
  body{
    text-align: center;
    background-image:  url('https://images.all-free-download.com/images/graphicthumb/abstract_smooth_wave_background_vector_grapihic_art_569579.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }
  img {
    margin: 25px;
    max-width: 250px;
    max-height: 250px;
    text-align: center;
    border-radius: 100%;
    box-shadow: 0px 0px 5px 5px green;
  }
  h3 {

	font-size: 50px;
	font-weight: normal;
	margin-bottom: 0;
  }

  h2	{

    font-size: 18px;
    margin-top: 0;
    margin-bottom: 32px;
  }

  p {

    font-size: 14px;
    font-family: sans-serif;
    line-height: 1.5rem;
  }

</style>





<script>
//checking the integer in an array
const this_is_element = [1, 2, 3, 4, 5,11];

function isBiggerThan10(element, index, array) {
  return element > 10;
}

x = (this_is_element.some(isBiggerThan10))

if (x == true)
{console.log(x + ' is in the array');}
else
{console.log(x);}
////



// checking the string value in an array
const this_is_element_value = ['apple','banana', 'ca','da','ee','ga','ha'];
const yy = 'ha'
function check_valued(arr, val) {
  return arr.some(function(arrVal) {
    return val === arrVal;
  });
}
y = (check_valued(this_is_element_value, yy));
console.log(y + ' this is Y');
////

// converting string value to boolean 
const str_value = [true, 'true',1];

function check_value(string_value){
  'use strict';
  if (typeof string_value === 'string') {
    string_value = string_value.toLowerCase().trim();
  }
  return str_value.some(function(t) {
    return t === string_value;
  });
}
console.log(check_value(false));
console.log(check_value('false'));
console.log(check_value(0));
console.log(check_value(1));
console.log(check_value('true'));



</script>   